body {
    font-family: 'Indie Flower', cursive;
}

#total {
    background-color:blue;
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    width: 1166px;
    cursor:default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#pic {
    position:relative;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#time {
    position: relative; 
    left:370px; 
    width: 100%; 
    width:6em;
    margin-top: -2.5em;
    font-size:7em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#morning {
    background-color:#ffd3f9;
}

#daytime {
    background-color:#97cdff;
}
#evening {
    background-color:#d26f04;
}

#night {
    background-color:#4e3756;
    color:white;
}