body {
    font-family: 'Indie Flower', cursive;
}

#total {
    background-color:blue;
    
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    width: 1166px;
}

#pic {
    position:relative;
}

#time {
    position: relative; 
    left:370px; 
    width: 100%; 
    width:6em;
    margin-top: -2.5em;
    font-size:7em;
}

#morning {
    background-color:#c9c9ff;
}

#daytime {
    background-color:red;
}
#evening {
    background-color:orange;
}

#night {
    background-color:#4e3756;
    color:white;
}